<!DOCTYPE html>
<html lang="en" class="bg-[#FFFBD6]">
<head>
    <meta charset="UTF-8">
    <title>Register Face</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-cover bg-center bg-no-repeat min-h-screen text-[#4682A9] flex flex-col items-center justify-center"
      style="background-image: url('{{ url_for('static', filename='back.avif') }}');">    
      <div class="bg-[#91C8E4] p-10 rounded-xl shadow-xl w-full max-w-md text-center">
        <h1 class="text-2xl font-bold text-[#7498C2] mb-6">Face Registration</h1>
        <form action="/register" method="POST">
            <input type="text" name="name" placeholder="Enter Full Name" class="w-full p-2 rounded mb-4" required>
            <input type="text" name="roll" placeholder="Enter Roll Number" class="w-full p-2 rounded mb-4" required>
            <input type="text" name="class_" placeholder="Enter Class (e.g. 10)" class="w-full p-2 rounded mb-4" required>
            <input type="text" name="section" placeholder="Enter Section (e.g. A)" class="w-full p-2 rounded mb-6" required>
            <button type="submit" class="bg-yellow-400 hover:bg-yellow-500 px-6 py-2 rounded shadow font-semibold">
                Register Face
            </button>
        </form>
    </div>
</body>
</html>
